* {
  margin: 0vh;
  padding: 0vh;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #dfd1d1 0%, #7b7e7d 100%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  min-height:20vh;
  font-size: 2rem;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form text {
  padding: 1rem;
  font-size: 2rem;
  border: none;
  text-align: center;
  align-self: 'flex-end';
  position: 'absolute';
  bottom: 35;
  color: #000000;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: #ffffff;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}